<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag "jrelist.png" %></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tags</a>
          <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
            <% @tags.each do |tag| %>
              <li><%= link_to tag.name, tag_episodes_path(tag.id), class: 'dropdown-item' %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/dinnu93?ref_src=twsrc%5Etfw" class="nav-link twitter-follow-button" data-show-count="false">Follow @dinnu93</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </li>
      </ul>
    </div>

      <div class="d-flex w-50">
        <form class="w-75 ms-5">
          <input type="search" name="q" class="form-control"  placeholder="Search for podcasts, guests & topics">
        </form>
      </div>
    </div>
</nav>

<p id="notice"><%= notice %></p>
<div class="container privacy">
    <ul>
      <li>
        Third party vendors, including Google, use cookies to serve ads based on a user's prior visits to your website or other websites.
      </li>
      <br>
      <li>
        Google's use of advertising cookies enables it and its partners to serve ads to your users based on their visit to your sites and/or other sites on the Internet.
      </li>
      <br>
      <li>
        Users may opt out of personalized advertising by visiting <a href="https://www.google.com/settings/ads" target="_blank">Ads Settings</a>. 
      </li>

    </ul>
</div>
