@font-face {
	font-family: Avenir;
	font-weight: 300;
	font-style: normal;
	src: url('AvenirLTStd-Light.otf') format('truetype');
}
@font-face {
	font-family: Avenir;
	font-weight: 400;
	font-style: normal;
	src: url('AvenirLTStd-Book.otf') format('truetype');
}
@font-face {
	font-family: Avenir;
	font-weight: 500;
	font-style: normal;
	src: url('AvenirLTStd-Medium.otf') format('truetype');
}
@font-face {
	font-family: Avenir;
	font-weight: 800;
	font-style: normal;
	src: url('AvenirLTStd-Heavy.otf') format('truetype');
}

body, html {
	font-family: Avenir;
	font-weight: 400;
	color: rgba(0,0,0,0.87);
	background-color : #404040 !important;
}

.apple_pagination {
	background: #404040;
	border: 1px solid #404040;
	margin-top: 100px;
	padding-bottom: 50px;
	padding-right: 0.75rem;
	text-align: center;
	cursor: default;
	.disabled {
		color: #aaaaaa;
		border: solid 1px #404040 !important;
	}
	.current {
		font-style: normal;
		font-weight: bold;
		background-color: #bebebe;
		display: inline-block;
		width: 1.4em;
		height: 1.4em;
		line-height: 1.5;
		-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
		border-radius: 1em;
		text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
	}
	a {
		text-decoration: none;
		color: white;
		&:hover, &:focus {
			border:  solid 1px #404040;
			text-decoration: none;
			background-color: white;
			color:  black;
		}
	}
	.page_info {
		color: white;
		display: none;
		padding-top: 0.8em;
	}
	.previous_page {
		font-size: 1.25rem;
		font-family: Avenir;
		font-weight: 300;
		padding: 5px 10px;
		border-radius: 5px;
		border: solid 1px #404040;
		float: left;
		background-color: #000;
	}
	.next_page {
		font-size: 1.25rem;
		font-family: Avenir;
		font-weight: 300;
		padding: 5px 10px;
		border-radius: 5px;
		border: solid 1px #404040;
		float: right;
		background-color: #000;
		margin-right: 40px;
	}
}
.navbar-dark .navbar-nav .nav-link {
	color: #FFFFFF !important;
	margin-right: 10px;
	border-radius: 0.25rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #404040 !important;
	background-color: #FFFFFF !important;
}

.episodes {
	background-color : #404040 !important;
	margin-top:  50px;
	
	.episode-image {
		border-radius: 10px 10px 0 0;
		widows: 300px;
		height: 300px;
	}

	.card {
		margin-bottom: 30px;
		width: 300px;
		height: 800px;
		padding: 0;
		border: solid 1px #404040;
		border-radius: 10px;
		audio {
			width: 100%;
		}
		.btn-spotify {
			border-radius: 20px;
			margin-top: 20px;
			width: 100%;
			/*margin-left: 28px;*/
		}
		.card-title a {
			text-decoration: none;
			color: #404040;
		}

		.card-footer {
			padding: 0;
			position: absolute;
			bottom: 0;
			background-color: transparent;
			padding-top: 10px;
			width:  90%;
			.bi {
				color: darkgreen;
				float: right;
			    display: block;
			}
		}
	}
}

.episode {
	background-color : #404040 !important;

	.episode-image {
		border-radius: 10px 10px 0 0;
		widows: 500px;
		height: 500px;
	}

	.card {
		margin-bottom: 30px;
		width: 500px;
		height: 1250px;
		padding: 0;
		border: solid 1px #404040;
		border-radius: 10px;
		audio {
			width: 100%;
		}
		.btn-spotify {
			border-radius: 20px;
			margin-top: 20px;
			width: 100%;
			/*margin-left: 28px;*/
		}
		.card-title a {
			text-decoration: none;
			color: #404040;
		}

		.card-footer {
			padding: 0;
			position: absolute;
			bottom: 0;
			background-color: transparent;
			padding-top: 10px;
			width:  90%;
			.bi {
				color: darkgreen;
				float: right;
			    display: block;

			}
		}
	}
}
